# APP
APP_NAME=Questions app
APP_URL=http://localhost:3000

# DATABASE
MYSQL_ROOT_PASSWORD=qwerty
MYSQL_DATABASE=questions_app
MYSQL_USER=aleksandr_aladin
MYSQL_PASSWORD=qwerty

# CORS
ALLOWED_ORIGINS=['http://localhost:8080']

# MISC
PER_PAGE=10

# MAIL
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=example_user
MAIL_PASSWORD=example_user_password
MAIL_FROM_ADDRESS=example@example.com
MAIL_SECURE=false

# RATE LIMIT
THROTTLE_TTL=60
THROTTLE_LIMIT=10
